.admin-card {
    width: 400px;
    background-color: gainsboro;
    padding: 15px 20px;
    margin: 10px;
}

.admin-cards {
    display: flex;
}

.admin-card a {
    color: black;
}

.admin-card a:hover {
    text-decoration: none;
}